name: Waka Readme

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  update-readme:
    name: WakaReadme DevMetrics
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          SHOW_UPDATED_DATE: true
          UPDATED_DATE_FORMAT: "%d/%m/%Y %H:%M"
          SHOW_TITLE: false
          SECTION_NAME: waka
          BLOCKS: "->"
          CODE_LANG: all
          TIME_RANGE: all_time
          LANG_COUNT: 10
          SHOW_TIME: true
          SHOW_TOTAL: true
          SHOW_MASKED_TIME: true
          STOP_AT_OTHER: false
          COMMIT_MESSAGE: "Updated waka-readme graph with new metrics"
          TARGET_BRANCH: main
          TARGET_PATH: README.md
          COMMITTER_NAME: GitHubActionBot
          COMMITTER_EMAIL: action-bot@github.com
          AUTHOR_NAME: Molham
          AUTHOR_EMAIL: admin@malhoum.com

      - run: |
          new_line="Updated automatically from WakaTime on $(date +"%d/%m/%Y %H:%M")"
          centered_line="<p align=\"center\">$new_line</p>"
          awk -v new="$centered_line" '
          BEGIN { in_section=0 }
          {
            if ($0 ~ /<!--START_SECTION:waka-->/) {
              in_section=1
              print
              print new
              next
            }
            if ($0 ~ /<!--END_SECTION:waka-->/) {
              in_section=0
            }
            if (!in_section) print
          }' README.md > temp.md && mv temp.md README.md
          git config --global user.name "GitHubActionBot"
          git config --global user.email "actions@github.com"
          git add README.md
          git commit -m "Updated execution time inside Waka section" || echo "No changes to commit"
          git fetch origin main
          git rebase origin/main || echo "Rebase skipped"
          git push origin main || git push origin main --force
